* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background: linear-gradient(135deg, #cddaed, #bdc4e3,#f1d6e5, #d9cce4, #cde5df);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;

}

.container button {
  display: flex;
  align-items: center;
  color: #fff;
  background: linear-gradient(#9418, #571094);
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;

}


.input-box {
  position: relative;
  width: 100%;
  max-width: 900px;
  min-height: 250px;
  background: #fff;
  color: rgb(68, 63, 63);
  padding: 10px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}


.input-box img  {
  width: 18px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
  opacity: 50%;
}

.input-box img:hover {
  opacity: 100;
}
